<h1>Administrar preguntas frecuentes</h1>
<div class="buscador">
	<%= form_tag(questions_searchQuestion_path, :method => "post",:class=>"form-inline") do %>
	<div class="input-group">
		<%= text_field_tag :search, params[:search], placeholder: "Buscar pregunta",:class => 'form-control',:required=>true %>
		<span class="input-group-btn">
			<%= button_tag(type: "submit", class: "btn btn-default ") do %>
				<i class="glyphicon glyphicon-search"></i>
			<% end %>
		</span>
	</div>
	<%end%>
</div>
<%= link_to "Agregar pregunta frecuente", new_question_path, :class=>"btn btn-lg btnCRUD"%>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Listado de preguntas frecuentes
	</div>
	<div class="panel-body">
		<% @questions.each do |pregunta| %>
				<p>
				<%=	pregunta.title %>  - 
				<%=	link_to "Ver", pregunta %>  -				
				<%= link_to "Editar", edit_question_path(pregunta)%> - 
				<%= link_to 'Eliminar', pregunta, method: :delete, data: { confirm: '¿Está seguro de eliminar esta pregunta?' } %>
				</p>
		<%end%>
	</div>
</div>
<%= link_to "Volver", sections_path, :class => "btn btn-lg btnCRUD"%>