<%orden ||= "Crear"%>
<%= form_for(@institution) do |f| %>
	<% if @institution.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

			<ul>
			<% @institution.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		Datos de la institución
	</div>
	<div class="panel-body">
		<div class="field">
			<%= f.text_field :name, :class => 'form-control', :placeholder => 'Nombre' %>
		</div>
		<div class="field">
			<%= f.text_field :web,  :class => 'form-control', :placeholder => 'Página web. Ejemplo: http://www.ejemplo.com' %>
		</div>
		<div class="field">
			<%= f.file_field :logo %>
		</div>
	</div>	
</div>
	<%= f.submit orden, :class=>"btn btn-lg btnCRUD" %>
	<%= link_to 'Volver', interest_links_path, :class =>"btn btn-lg btnCRUD" %>
<% end %>
