<%= link_to 'Agregar institución', new_institution_path, :class=>"btn btn-lg btnAdmin" %><br>

<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Listado de instituciones
	</div>
	<div class="panel-body">
		<% @institutions.each do |institution| %>
			<p><%=institution.name%>: - 
			<%= link_to 'Ver detalle', institution %> -
			<%= link_to 'Web', institution.web %> -
			<%= link_to 'Borrar institución', institution, method: :delete, data: { confirm: '¿Seguro que desea eliminar esta institución?' } %>
			</p>
		<%end%>
	</div>
</div>


