<%accion ||= "Crear"%>
<%= form_for(@offering) do |f| %>
  <% if @offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
      <% @offering.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default" id="panelRease">
    <div class="panel-heading">Datos de la oferta</div>
    <div class="panel-body">

		<div class="field">
			<%= f.text_field :title, :class => 'form-control', :placeholder => 'Titulo'%>
		</div>
		<br>
		<div class="field">
			<%= f.text_area :description, :placeholder=> "Escribir aquí.", :id=>"eg-basic" %>
		</div>
		<br>
		<div class="field">
			<%= f.text_field :status,:class => 'form-control', :placeholder => 'Titulo' %>
		</div>
		<br>
		<div class="field">
			<p><%= f.label :start_time, "Fecha de inicio" %><br>
			<%= f.datetime_select :start_time %></p>
		</div>
		<div class="field">
			<p><%= f.label :end_time, "Fecha de término" %><br>
			<%= f.datetime_select :end_time %></p>
		</div>
		<br>
	</div>
</div>
    <%= f.submit accion, :id => 'botonCRUD', :class => 'btn btn-lg' %>
    <%= link_to 'Volver', offerings_path, :id => "botonCRUD", :class => "btn btn-lg"%>

<% end %>

<script>
   $(function() {$('textarea#eg-basic').editable({
      inlineMode: false,
    })
  });
</script>
