<h1>Ofertas de servicio</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.title %></td>
        <td><%=raw offering.description %></td>
        <td><%= offering.status %></td>
        <td><%= link_to 'Mostrar ', offering %></td>
        <td><%= link_to ' Editar', edit_offering_path(offering) %></td>
        <td><%= link_to ' Eliminar', offering, method: :delete, data: { confirm: '¿Seguro de querer eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva oferta', new_offering_path, :id => "botonCRUD", :class => "btn btn-lg" %>
