<h1>Ofertas de servicio <button type="button" class="btn btn-default btnWhite" id:"btnOferta" data-placement="bottom" data-trigger="focus" data-container="body" data-toggle="btnOferta"> ? </button></h1>

<% if current_user.category == 2 %>
	<%= link_to "Nueva oferta de servicio", new_offering_path, :class => 'btn btn-lg' %>
<%end%>
<div class="buscador">
	<%= form_tag(offerings_searchOffering_path, :method => "post",:class=>"form-inline") do %>
	<div class="input-group">
		<%= text_field_tag :search, params[:search], placeholder: "Buscar ofertas",:class => 'form-control',:required=>true %>
		<span class="input-group-btn">
			<%= button_tag(type: "submit", class: "btn btn-default ") do %>
				<i class="glyphicon glyphicon-search"></i>
			<% end %>
		</span>
	</div>
	<%end%>
</div>
	<ul class="nav nav-tabs tabRease nav-justified">
	<li id="off1" onclick="off1()"><a>Disponibles</a></li>
	<li id="off2" onclick="off2()"><a>Canceladas</a></li>
	<li id="off3" onclick="off3()"><a>Caducadas</a></li>
</ul>

<div id="Disponible">
	<%if @disponible.present?%>
		<% @disponible.each do |offering| %>
			<div class="panel panel-default panelRease">
				<div class="panel-heading">
					<%= offering.title %>
				</div>
				<div class="panel-body">
					<h2>Resumen: </h2>
					<p><%=raw offering.resume %></p>
					<%= link_to "Ver oferta", offering %>
				</div>
			</div>
		<%end%>
		<%= will_paginate @disponible %>
	<%else%>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				Ofertas de servicios disponibles
			</div>
			<div class="panel-body">
				<p>No hay ofertas de servicio disponibles
			</div>
		</div>
	<%end%>

</div>
<div id="Cancelada">
	<%if @cancelada.present?%>
	<% @cancelada.each do |offering| %>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				<%= offering.title %>
			</div>
			<div class="panel-body">
				<h2>Resumen: </h2>
				<p><%=raw offering.resume %></p>
				<%= link_to "Ver oferta", offering %>
			</div>
		</div>
	<%end%>
	<%else%>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				Ofertas de servicios canceladas
			</div>
			<div class="panel-body">
				<p>No hay ofertas de servicio canceladas
			</div>
		</div>
	<%end%>

</div>
<div id="Caducada">
	<%if @caducada.present?%>
	<% @caducada.each do |offering| %>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				<%= offering.title %>
			</div>
			<div class="panel-body">
				<h2>Resumen: </h2>
				<p><%=raw offering.resume %></p>
				<%= link_to "Ver oferta", offering %>
			</div>
		</div>
	<%end%>
	<%else%>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				Ofertas de servicios caducadas
			</div>
			<div class="panel-body">
				<p>No hay ofertas de servicio caducadas
			</div>
		</div>
	<%end%>


</div>

<script type="text/javascript">
	document.getElementById('Disponible').style.display='block';	
	document.getElementById("off1").className = "active";	
	document.getElementById('Cancelada').style.display='none';
	document.getElementById('Caducada').style.display='none';
	function off1(){
		document.getElementById('Disponible').style.display='block';	
		document.getElementById('Cancelada').style.display='none';
		document.getElementById('Caducada').style.display='none';
		document.getElementById("off1").className = "active";
		document.getElementById("off2").className = "";
		document.getElementById("off3").className = "";
	}
	function off2(){
		document.getElementById('Disponible').style.display='none';	
		document.getElementById('Cancelada').style.display='block';
		document.getElementById('Caducada').style.display='none';
		document.getElementById("off1").className = "";
		document.getElementById("off2").className = "active";
		document.getElementById("off3").className = "";
		
	}
	function off3(){
		document.getElementById('Disponible').style.display='none';		
		document.getElementById('Cancelada').style.display='none';
		document.getElementById('Caducada').style.display='block';
		document.getElementById("off1").className = "";
		document.getElementById("off2").className = "";
		document.getElementById("off3").className = "active";
	}
	var content = '<p>Una <strong>oferta de servicio</strong> es el proceso previo para concretar una actividad AS, esta es publicada por un profesor y pretenden encontrar un socio comunitario con quien realizar dicha actividad. <p>A continuación se presenta el proceso completo de una actividad AS</p></p><div id = \"image"> <%= image_tag("Services.png",:class=>"popoverImage") %></div>';
	$(function () {
		$('[data-toggle="btnOferta"]').popover(
			{
				html: 'true', 
				content: content,
				title: 'Oferta de servicio',
				template: '<div class="popover popover-rease"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'

			}
		)
	})
</script>

