<h1>Ofertas de servicio</h1>

<% if current_user.category != 4 %>
  <%= link_to "Nueva oferta de servicio", new_offering_path, :class => 'btn btn-lg' %>
<%end%>

<% @offerings.each do |offering| %>
  <div class="panel panel-default panelRease">
    <div class="panel-heading">
      <%= offering.title %>
    </div>
    <div class="panel-body">
      <%=raw offering.description %>
      <p><strong>Estado: </strong><%=offering.status %></p>
    </div>

    <div class="panel-footer">
      <p><strong>Creador: </strong>
      <%if offering.user.nickname.blank?%>
        <%= link_to offering.user.name+' '+offering.user.last_name, user_path(offering.user.id)  %>
      <%else%>
        <%= link_to offering.user.nickname, user_path(offering.user.id) %>
      <%end%>
      <%if !offering.user.photo.blank?%>
        <%= image_tag offering.user.photo.url(:mini), :class =>"RoundPicture" %>
      <%end %>
      <p><strong>Fecha y hora de inicio: </strong><%=l offering.start_time %></p>
      <p><strong>Fecha y hora de término: </strong><%=l offering.end_time %></p>
      <%= link_to "Ver oferta", offering %>
    </div>
  </div>
<%end%>
