<h1>Detalles de la oferta de servicio</h1>
<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		<%= @offering.title %>
	</div>

	<div class="panel-body">

		<h1>Descripción:</h1>
		<p><%=raw @offering.description %></p>

		<h1> Información </h1>
		<p><strong>Estado: </strong>
			<% if @offering.status == 1%>
				Disponible
			<% elsif @offering.status == 2%>
				Cancelado
			<% elsif @offering.status == 3%>
				Caducado
			<% elsif @offering.status == 4%>
				Aceptado
			<%end%>
		</p>

		<p><strong>Fecha de inicio: </strong><%=l @offering.start_time %></p>

		<p><strong>Fecha de término: </strong><%=l @offering.end_time %></p>
		<%if @offering.area_id.present?%>
			<p><strong>Área de trabajo: </strong> <%= @offering.area.name%></p>
		<%end%>
		<%if @offering.institution_id.present?%>
			<p><strong>Institución: </strong> <%= @offering.institution.name%></p>
		<%end%>
		<%if @offering.location.present?%>
			<p><strong>Ubicación de desarrollo: </strong> <%= @offering.location%></p>
		<%end%>

		<p><strong>Creado por:</strong>
		<%= link_to @offering.user.nickname, user_path(@offering.user.id) %>
		<%if !@offering.user.photo.blank?%>
			<%= image_tag @offering.user.photo.url(:mini), :class =>"RoundPicture" %>
		<%end %>
		<p>

		<h2>Peticiones de Servicio</h2>
		<% if @aceptados.blank?%>
			<%if @offering.services.count == 0%>
				<p>Aún no se han generado peticiones para participar en este servicio</p>
			<%elsif @offering.services.count == 1%>
				<p>Se ha generado <strong>1</strong> peticiones de servicio</p>
				<%= link_to "Ver peticiones", offering_services_path(@offering), :class=>'btn btnCRUD'%>
			<%else%>
				<p>Se han generado <strong><%=@offering.services.count%></strong> peticiones de servicio</p>
				<%= link_to "Ver peticiones", offering_services_path(@offering), :class=>'btn btnCRUD'%>
		<%end%>

		<%if @offering.user != current_user and current_user.category == 4%>
			<%if @petition.blank?%>
				<%= link_to "Solicitar participación", new_offering_service_path(@offering), :class=>'btn btnCRUD'%>
			<%end%>
		<%end%>
			
		<%else%>
			<% @aceptados.each do |aceptado|%>
				<p><%= link_to aceptado.acceptor.nickname, aceptado.acceptor%> ha aceptado a trabajar con <%= link_to aceptado.creator.nickname, aceptado.creator%></p>
			<%end%>
		<%end%>
	</div>
	<div class="panel-footer">
		<h2>Comentarios</h2>
		<div class="comment">
			<%if user_signed_in? %>
				<%=render 'comments/formOffering'%>
			<%end%>
			<% @offering.comments.order('created_at DESC').each do |comment|%>
			<hr>
			<p>	
				<%if comment.user.photo.present?%>
					<%= image_tag comment.user.photo.url(:mini), :class =>"RoundPicture" %> 
				<%else%>
					<%= image_tag ("mini/missingPhoto.png") %> 
				<%end %>
				<%= link_to comment.user.nickname, comment.user%> [ <%=comment.created_at.strftime("%d/%m/%Y - %H:%M")%> ]: 	<%=raw comment.body%>
				<%if user_signed_in? %>
					<%if current_user == comment.user or current_user.category == 1 %> - 
						<%= link_to 'Eliminar', offering_comment_path(@offering,comment), method: :delete, data: { confirm: '¿Está seguro de eliminar el comentario?' }%>
					<%end%>
				<%end%>
			</p>
			<%end%>
		</div>
	</div>
</div>

<% if user_signed_in? && current_user.category != 4 %>
	<% if @offering.user.id == current_user.id %>
		<%= link_to 'Editar ', edit_offering_path(@offering), :class => "btn btn-lg btnCRUD" %>
		<%= link_to 'Eliminar', @offering, method: :delete, data: { confirm: '¿Está seguro de eliminar la oferta?' }, :class => "btn btn-lg btnCRUD" %>
	<% end %>
<% end %>

<%= link_to 'Volver', offerings_path, :class => "btn btn-lg btnCRUD" %>