<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		<%= @offering.title %>
	</div>

	<div class="panel-body">

		<h1>Descripción:</h1>
		<p><%=raw @offering.description %></p>

		<h1> Información </h1>
		<p><strong>Estado: </strong>
			<% if @offering.status == 1%>
				Disponible
			<%end%>
			<% if @offering.status == 2%>
				En proceso
			<%end%>
			<% if @offering.status == 3%>
				Realizado
			<%end%>
			<% if @offering.status == 4%>
				Cancelado
			<%end%>
			<% if @offering.status == 5%>
				Caducado
			<%end%>
		</p>

		<p><strong>Fecha de inicio: </strong><%=l @offering.start_time %></p>

		<p><strong>Fecha de término: </strong><%=l @offering.end_time %></p>
		<p><strong>Creado por:</strong>
		<%= link_to @offering.user.nickname, user_path(@offering.user.id) %>
		<%if !@offering.user.photo.blank?%>
			<%= image_tag @offering.user.photo.url(:mini), :class =>"RoundPicture" %>
		<%end %>
		<p>
	</div>
	<div class="panel-footer">
		<h2>Comentarios</h2>
		<%=render 'comment_offerings/form'%>

		<% @offering.comment_offerings.order('created_at DESC').each do |comment|%>
		<p>	
			<%if !@offering.user.photo.blank?%>
				<%= image_tag comment.user.photo.url(:mini), :class =>"RoundPicture" %>   	
			<%end %>
			<%= link_to comment.user.nickname, comment.user%>: 	<%=comment.body%> - <%=l comment.created_at%>
			<%if current_user == comment.user or current_user.category == 1 %> - 
					<%= link_to 'Eliminar', offering_comment_offering_path(@offering,comment), method: :delete, data: { confirm: '¿Está seguro de eliminar el comentario?' }%>
			<%end%>
		</p>
		<%end%>
	</div>
</div>

<% if user_signed_in? && current_user.category != 4 %>
	<% if @offering.user.id == current_user.id %>
		<%= link_to 'Editar ', edit_offering_path(@offering), :class => "btn btn-lg btnCRUD" %>
		<%= link_to 'Eliminar', @offering, method: :delete, data: { confirm: '¿Está seguro de eliminar la oferta?' }, :class => "btn btn-lg btnCRUD" %>
	<% end %>
<% end %>

<%= link_to 'Volver', offerings_path, :class => "btn btn-lg btnCRUD" %>