<%= form_for([@offering,@comment]) do |f| %>
	<% if @comment.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

		<ul>
		<% @comment.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.text_area :body, :class => 'form-control',:placeholder=>'Escriba acá su comentario respecto a esta oferta...entre 10 y 150 caracteres)', :id=>"eg-custom-toolbar", :required=>true %>
	</div>
	<div class="actions">
		<%= f.submit "Enviar comentario", :class => 'btn btn-default btnCRUD' %>
	</div>
<% end %>

<script>
	$(function() {
		$('textarea#eg-custom-toolbar').editable({
			inlineMode: false,
			language: 'es',
			// Set custom buttons with separator between them.
			buttons: ['undo', 'redo' , 'sep', 'bold', 'italic', 'underline','color', 'blockStyle', 'align', 'insertOrderedList', 'insertUnorderedList', 'outdent', 'indent', 'createLink' ] 
		})
	});
</script>