<%= form_for(@bulletin) do |f| %>
	<% if @bulletin.errors.any? %>
		<% @bulletin.errors.full_messages.each do |message| %>
			<%flash[:alert] = message %>
		<% end %>
	<% end %>
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Boletin
		</div>
		<div class="panel-body">
			<div class="field">
				<%= f.text_field :title,:class=>'form-control',:placeholder=>'Título' ,:required=>true %>
			</div>
			<div class="field">
				<%= f.text_area :description, :placeholder=> "Escribir aquí.", :id=>"eg-basic",:required=>true %>
			</div>
			<div class="field">
				<p class='note'>*La fecha indica desde cuándo se enviarán los contenidos pertenecientes al boletín.</p>
				<p>
					<%= f.label :start_date, "Seleccione la fecha: "  %>
					<%= f.date_select :start_date %>
				</p>
			</div>
		</div>
	</div>
	<div class="actions">
		<%= f.submit "Enviar boletín",:class=>'btn btn-lg btnCRUD' %>
		<%= link_to 'Volver', bulletins_path,:class=>'btn btn-lg btnCRUD' %>

	</div>	
<% end %>


<script>
  $(function() {
    $('textarea#eg-basic').editable({
      inlineMode: false,
    })
  });
</script>