<h1>¿Qué es A+S?</h1>
<% @sections.each do |seccion| %>
	<%if seccion.order == "Aprendizaje y Servicio"%>
		<%if seccion.priority =="Alta" %>		
			<div id="panelAside" class="panel panel-default">
				<div class="panel-heading">
					<%= seccion.title %>
				</div>
				<div class="panel-body">
					<p><%=raw seccion.body %></p>
				</div>
			</div>
		<%end%>
	<%end%>
<%end%>
<% @sections.each do |seccion| %>
	<%if seccion.order == "Aprendizaje y Servicio"%>
		<%if seccion.priority =="Media" %>		
			<div id="panelAside" class="panel panel-default">
				<div class="panel-heading">
					<%= seccion.title %>
				</div>
				<div class="panel-body">
					<p><%=raw seccion.body %></p>
				</div>
			</div>
		<%end%>
	<%end%>
<%end%>
<% @sections.each do |seccion| %>
	<%if seccion.order == "Aprendizaje y Servicio"%>
		<%if seccion.priority =="Baja" %>		
			<div id="panelAside" class="panel panel-default">
				<div class="panel-heading">
					<%= seccion.title %>
				</div>
				<div class="panel-body">
					<p><%=raw seccion.body %></p>
				</div>
			</div>
		<%end%>
	<%end%>
<%end%>

