<h1>Estatutos Red Nacional Aprendizaje Servicio, Chile</h1>

<div id="indice">
	<div  class="panel panel-default panelRease">	
		<div class="panel-heading">
			Índice del estatuto
		</div>
		<div class="panel-body">
			<ul>
				<% @sections.each do |seccion| %>
					<%if seccion.order == 'Estatutos'%>
						<% div_id = seccion.id -%>					
						<li class = "estatutos" id="funcion<%= div_id -%>"> <%= seccion.title %></li>			
					<%end%>
				<%end%>
			</ul>
		</div>
	</div>
</div>

<% @sections.each do |seccion| %>
	<%if seccion.order == 'Estatutos'%>
		<% div_id = seccion.id -%>
		<div id="titulo<%= div_id -%>" >
		<br><br>
			<div  class="panel panel-default panelClick">
				<div class="panel-heading">
					<i class="glyphicon glyphicon-circle-arrow-up" id="volver<%= div_id -%>"></i> <%=	seccion.title %> 
				</div>
				<div class="panel-body">
					<p><%=raw seccion.body %></p>
				</div>
			</div>
		</div>
	<%end%>
<%end%>

<script type="text/javascript">
	<% @sections.each do |seccion| %>
		<%if seccion.order == 'Estatutos'%>
			<% div_id = seccion.id -%>
			$("#funcion<%= div_id -%>").click(function() 
			{
			    $('html,body').animate({
			        scrollTop: $("#titulo<%= div_id -%>").offset().top},
			        'slow');
			});
			$("#volver<%= div_id -%>").click(function() 
				{
				$('html,body').animate({
				scrollTop: $("#indice").offset().top},
				'slow');
			});
		<%end%>
	<%end%>

</script>