<h1>¿Qué hacemos?</h1>
<p>
La Red Nacional de Aprendizaje y Servicio Chile a definido su rol a desempeñar a base de cuatro directrices, las cuales son: 
</p>
<center>
	<% @sections.each do |seccion| %>
		<%if seccion.order == 'Hacemos'%>
		<% div_id = seccion.id -%>
		<button class = "btn btn-lg btnHacemos" onclick="funcion<%= div_id -%>()"><%= seccion.title%></button> 
		<%end%>
	<%end%>
</center>
<p>


<% @sections.each do |seccion| %>
	<%if seccion.order == 'Hacemos'%>
	<% titulo_id = seccion.id -%>
	<div id="titulo<%= titulo_id -%>" >
		<div  class="panel panel-default panelRease">
			<div class="panel-heading">
				<%=	seccion.title %> 
			</div>
			<div class="panel-body">
				<p><%=raw seccion.body %></p>
			</div>
		</div>
	</div>
	<%end%>
<%end%>

<script type="text/javascript">
<% contador = 1; %>
	<% @sections.each do |seccion| %>
		<%if seccion.order == 'Hacemos'%>
			<% titulo_id = seccion.id -%>
			<% if contador==1 %>
				document.getElementById('titulo<%= titulo_id -%>').style.display='block';
				<% contador += 1; %>
			<% else %>
				document.getElementById('titulo<%= titulo_id -%>').style.display='none';
			<%end%>
		<%end%>
	<%end%>
</script>

<script type="text/javascript">

<% contador1 = 1; %>
<% @sections.each do |seccion| %>
	<%if seccion.order == 'Hacemos'%>
		<% div_id = seccion.id -%>
		function funcion<%= div_id -%>(){
		<% contador2 = 1; %>
		<% @sections.each do |seccion_in| %>
			<%if seccion_in.order == 'Hacemos'%>
				<% titulo_id = seccion_in.id -%>
				<% if contador1==contador2 %>
					document.getElementById('titulo<%= titulo_id -%>').style.display='block';
				<% else %>
					document.getElementById('titulo<%= titulo_id -%>').style.display='none';
				<%end%>
				<% contador2 += 1; %>
			<%end%>
		<%end%>
		<% contador1 += 1; %>
		}			
	<%end%>
<%end%>
</script>
		


