<h1>Bienvenido a Rease:</h1>
<h2>El sitio de la Red Nacional de Aprendizaje y Servicio, Chile</h2>
<% @sections.each do |seccion| %>
	<%if seccion.order == "Novedad"%>
		<%if seccion.priority =="Alta" %>		
			<div  class="panel panel-default panelRease">
				<div class="panel-heading">
					<%= seccion.title %>
				</div>
				<div class="panel-body">
					<p><%=raw seccion.body %></p>
				</div>
			</div>
		<%end%>
	<%end%>
<%end%>
<% @sections.each do |seccion| %>
	<%if seccion.order == "Novedad"%>
		<%if seccion.priority =="Media" %>		
			<div  class="panel panel-default panelRease">
				<div class="panel-heading">
					<%= seccion.title %>
				</div>
				<div class="panel-body">
					<p><%=raw seccion.body %></p>
				</div>
			</div>
		<%end%>
	<%end%>
<%end%>
<% @sections.each do |seccion| %>
	<%if seccion.order == "Novedad"%>
		<%if seccion.priority =="Baja" %>		
			<div  class="panel panel-default panelRease">
				<div class="panel-heading">
					<%= seccion.title %>
				</div>
				<div class="panel-body">
					<p><%=raw seccion.body %></p>
				</div>
			</div>
		<%end%>
	<%end%>
<%end%>

