<h1>Búsqueda: </h1>
<%if !user_signed_in? %>	
	<% if @sections.present? || @interest_links.present? || @events.present? || @resources.present? || @institutions.present?%>
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Resultados de la búsqueda: <%= params[:search] %>
		</div>
		<div class="panel-body">
			<table class="tabla-rease">
				<tr>
					<th><strong>Tipo</strong></th>
					<th><strong>Nombre</strong></th>
					<th><strong>Detalles</strong></th>

				</tr>
				<%= render @sections %>
				<%= render @interest_links %>
				<%= render @events %>
				<%= render @resources %>
				<%= render @institutions %>
			</table>
		</div>
	</div>
	<%else%>
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Resultados de la búsqueda: <%= params[:search] %>
		</div>
		<div class="panel-body">
			<p>No se encontraron resultados en la búsqueda de <strong><%= params[:search] %></strong></p>
		</div>
	</div>
	<% end %>
<%else%>
	<% if @sections.present?  || @events.present? || @resources.present? || @institutions.present? || @requests.present? || @offerings.present? || @users.present? ||@services.present? || @experiences.present?%>
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Resultados de la búsqueda: <%= params[:search] %>
		</div>
		<div class="panel-body">
			<table class="tabla-rease">
				<tr>
					<th><strong>Tipo</strong></th>
					<th><strong>Nombre</strong></th>
					<th><strong>Detalles</strong></th>

				</tr>
				<%= render @requests %>
				<%= render @offerings %>
				<%= render @services %>
				<%= render @experiences %>
				<%= render @events %>
				<%= render @users %>
				<%= render @sections %>
				<%= render @resources %>
				<%= render @institutions %>
			</table>
		</div>
	</div>
	<%else%>
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Resultados de la búsqueda: <%= params[:search] %>
		</div>
		<div class="panel-body">
			<p>No se encontraron resultados en la búsqueda de <strong><%= params[:search] %></strong></p>
		</div>
	</div>
	<% end %>
<%end%>
