<h1>¿Quiénes somos?</h1>
<p>
La Red Nacional de Aprendizaje y Servicio Chile reúne  a profesores, estudiantes, universidades, colegios, agrupaciones civiles y en general a todas las personas y organizaciones en Chile que estén interesadas en esta metodología.
</p>
<center>
	<% @secciones.each do |seccion| %>
		<%if seccion.order == 'Somos'%>
		<% div_id = seccion.id -%>
		<button id="botonSomos" class = "btn btn-lg" onclick="funcion<%= div_id -%>()"><%= seccion.title%></button> 
		<%end%>
	<%end%>
</center>
<p>


<% @secciones.each do |seccion| %>
	<%if seccion.order == 'Somos'%>
	<% titulo_id = seccion.id -%>
	<div id="titulo<%= titulo_id -%>" >
		<div id="panelAside" class="panel panel-default">
			<div class="panel-heading">
				<%=	seccion.title %> 
			</div>
			<div class="panel-body">
				<p><%=raw seccion.body %></p>
			</div>
		</div>
	</div>
	<%end%>
<%end%>

<script type="text/javascript">
<% contador = 1; %>
	<% @secciones.each do |seccion| %>
		<%if seccion.order == 'Somos'%>
			<% titulo_id = seccion.id -%>
			<% if contador==1 %>
				document.getElementById('titulo<%= titulo_id -%>').style.display='block';
				<% contador += 1; %>
			<% else %>
				document.getElementById('titulo<%= titulo_id -%>').style.display='none';
			<%end%>
		<%end%>
	<%end%>
</script>

<script type="text/javascript">

<% contador1 = 1; %>
<% @secciones.each do |seccion| %>
	<%if seccion.order == 'Somos'%>
		<% div_id = seccion.id -%>
		function funcion<%= div_id -%>(){
		<% contador2 = 1; %>
		<% @secciones.each do |seccion_in| %>
			<%if seccion_in.order == 'Somos'%>
				<% titulo_id = seccion_in.id -%>
				<% if contador1==contador2 %>
					document.getElementById('titulo<%= titulo_id -%>').style.display='block';
				<% else %>
					document.getElementById('titulo<%= titulo_id -%>').style.display='none';
				<%end%>
				<% contador2 += 1; %>
			<%end%>
		<%end%>
		<% contador1 += 1; %>
		}			
	<%end%>
<%end%>
</script>
		




<h1>Organizaciones adheridas</h1>
<p> Las organizaciones que actualmente están activas dentro de REASE o alguno de los miembros activos pertenecen a ellas, son: </p>


<% @instituciones.each do |institution| %>
	<%= link_to(image_tag(institution.logo.url(:mini)), institution.web, :id=>"logoInstituciones") %>
<%end%>