<h1>¿Quiénes somos?</h1>
<p>
La Red Nacional de Aprendizaje y Servicio Chile reúne  a profesores, estudiantes, universidades, colegios, agrupaciones civiles y en general a todas las personas y organizaciones en Chile que estén interesadas en esta metodología.
</p>
<center>
	<button id="botonSomos" class = "btn btn-lg" onclick="menuSomos1()">Comisión Ejecutiva</button> 
	<button id="botonSomos" class = "btn btn-lg" onclick="menuSomos2()">Comunicaciones</button>
	<button id="botonSomos" class = "btn btn-lg" onclick="menuSomos3()">Sistematización</button>
	<button id="botonSomos" class = "btn btn-lg" onclick="menuSomos4()">Talleres</button>
	<button id="botonSomos" class = "btn btn-lg" onclick="menuSomos5()">Encuentro</button>
</center>

<div id="comision">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Comisión Ejecutiva
		</div>
		<div class="panel-body">
			<p>Esta comisión está enfocada en hacer un seguimiento al trabajo de las demás comisiones y coordinar el trabajo de ellas, para ello cada miembro de esta comisión se encuentra también trabajando en algunas de las comisiones que se describirán a continuación. Además, se encarga de proponer temas y preparar las reuniones ampliadas de la red.</p>
		</div>
	</div>
</div>

<div id="comunicaciones">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Secretaría de Comunicaciones
		</div>
		<div class="panel-body">
			<p>Esta comisión busca difundir la labor realizada por REASE mediante diferentes mecanismos, como la elaboración de boletines o videos promocionales. El actual sitio web de la red y la presencia de la organización en las redes sociales, nace de la labor de esta comisión, como también el desarrollo de este trabajo.</p>
		</div>
	</div>
</div>
		
<div id="sistematizacion">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Secretaría de sistematización
		</div>
		<div class="panel-body">
			<p>Esta comisión busca estandarizar las experiencias de Aprendizaje y Servicio. Su trabajo generó durante el año pasado, la elaboración de un Formulario de Sistematización, el que durante este año ha sido aplicado a las experiencias de A+S en todas las instituciones pertenecientes a la red.</p>

		</div>
	</div>
</div>
		
<div id="talleres">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Secretaría de Talleres
		</div>
		<div class="panel-body">
			<p>Esta comisión busca estandarizar las experiencias de Aprendizaje y Servicio. Su trabajo generó durante el año pasado, la elaboración de un Formulario de Sistematización, el que durante este año ha sido aplicado a las experiencias de A+S en todas las instituciones pertenecientes a la red.</p>

		</div>
	</div>
</div>

<div id="encuentro">
	<div class="panel panel-default" id="panelAside">
		<div class="panel-heading">
			Secretaría de Encuentro
		</div>
		<div class="panel-body">
			<p>Esta comisión está encargada de organizar el encuentro anual de Aprendizaje y Servicio en Chile, además de gestionar los patrocinadores para el mismo. Actualmente se encuentra gestionando el próximo encuentro que se realizará en enero del próximo año.</p>

		</div>
	</div>
</div>


<h1>Organizaciones adheridas</h1>
<p> Las organizaciones que actualmente están activas dentro de REASE o alguno de los miembros activos pertenecen a ellas, son: </p>

<li data-target="#myCarousel" data-slide-to="5"></li>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#myCarousel" data-slide-to="1"></li>
	<li data-target="#myCarousel" data-slide-to="2"></li>
	<li data-target="#myCarousel" data-slide-to="3"></li>
	<li data-target="#myCarousel" data-slide-to="4"></li>
	<li data-target="#myCarousel" data-slide-to="5"></li>
	<li data-target="#myCarousel" data-slide-to="6"></li>
	<li data-target="#myCarousel" data-slide-to="7"></li>
	<li data-target="#myCarousel" data-slide-to="8"></li>
	<li data-target="#myCarousel" data-slide-to="9"></li>
	<li data-target="#myCarousel" data-slide-to="10"></li>
	<li data-target="#myCarousel" data-slide-to="11"></li>
	<li data-target="#myCarousel" data-slide-to="12"></li>
	<li data-target="#myCarousel" data-slide-to="13"></li>
	<li data-target="#myCarousel" data-slide-to="14"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<div class="item active">
      <%= link_to(image_tag("instituciones/hdc.png", id: "logoInstituciones"),"http://www.google.com")%>
    </div>

  	<div class="item">
      <%=image_tag("instituciones/maristas.png", id: "logoInstituciones")%>
    </div>

    <div class="item">
    	<%=image_tag("instituciones/PUC.gif", id: "logoInstituciones")%>
    </div>

	<div class="item">
		<%=image_tag("instituciones/pucv.png", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/uadolfo.png", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/uhurtado.png", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/unab.png", id: "logoInstituciones")%>
	</div>

    <div class="item">
		<%=image_tag("instituciones/uaustral.png", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/usilvahenriquez.png", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/utemuco.png", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/ucentral.jpg", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/uchile.png", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/uconce.gif", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/UFRO.gif", id: "logoInstituciones")%>
	</div>

	<div class="item">
		<%=image_tag("instituciones/usach.png", id: "logoInstituciones")%>
	</div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" id="botonCarousel" data-slide="prev"> << </a>
  <a class="right carousel-control" href="#myCarousel" role="button" id="botonCarousel" data-slide="next"> >> </a>
</div>

<script type="text/javascript">
	document.getElementById('comision').style.display='none';
	document.getElementById('comunicaciones').style.display='block';
	document.getElementById('sistematizacion').style.display='none';
	document.getElementById('talleres').style.display='none';
	document.getElementById('encuentro').style.display='none';
</script>