<h1>¿Quiénes somos?</h1>
<p>
La Red Nacional de Aprendizaje Servicio Chile reúne  a profesores, estudiantes, universidades, colegios, agrupaciones civiles y en general a todas las personas y organizaciones en Chile que estén interesadas en esta metodología.
</p>
<center>
	<% @sections.each do |seccion| %>
		<% div_id = seccion.id -%>
		<button class = "btn btn-lg btnSomos" onclick="funcion<%= div_id -%>()"><%= seccion.title%></button> 
	<%end%>
</center>
<p>


<% @sections.each do |seccion| %>

	<% titulo_id = seccion.id -%>
	<div id="titulo<%= titulo_id -%>" >
		<div  class="panel panel-default panelRease">
			<div class="panel-heading">
				<%=	seccion.title %> 
			</div>
			<div class="panel-body">
				<p><%=raw seccion.body %></p>
			</div>
		</div>
	</div>

<%end%>

<script type="text/javascript">
<% contador = 1; %>
	<% @sections.each do |seccion| %>
		<% titulo_id = seccion.id -%>
		<% if contador==1 %>
			document.getElementById('titulo<%= titulo_id -%>').style.display='block';
			<% contador += 1; %>
		<% else %>
			document.getElementById('titulo<%= titulo_id -%>').style.display='none';
		<%end%>
	<%end%>
</script>

<script type="text/javascript">

<% contador1 = 1; %>
<% @sections.each do |seccion| %>
	<% div_id = seccion.id -%>
	function funcion<%= div_id -%>(){
	<% contador2 = 1; %>
	<% @sections.each do |seccion_in| %>
			<% titulo_id = seccion_in.id -%>
			<% if contador1==contador2 %>
				document.getElementById('titulo<%= titulo_id -%>').style.display='block';
			<% else %>
				document.getElementById('titulo<%= titulo_id -%>').style.display='none';
			<%end%>
			<% contador2 += 1; %>
	<%end%>
	<% contador1 += 1; %>
	}			
<%end%>
</script>
		


<h1>Organizaciones adheridas</h1>
<p> Las organizaciones que actualmente están activas dentro de REASE o alguno de los miembros activos pertenecen a ellas, son: </p>

<%if @instituciones.present?%>
	<% @instituciones.each do |institution| %>
		<%= link_to(image_tag(institution.logo.url(:mini)), institution.web, :id=>"logoInstituciones") %>
	<%end%>
<%else%>
	Aún no se han agregado insituciones.
<%end%>