<% if user_signed_in? %>
	<div id="panelAside" class="panel panel-default">
		<div class="panel-heading">
			Opciones de usuario
		</div>
		<div class="panel-body">

		<%if current_user.category_id == 1%>
				<%= link_to 'Editar Página Inicio', sections_path, id: 'boton', class: 'btn btn-lg btn-block'  %>
		<%end%>

		<%= link_to 'Crear Solicitud de Servicio', new_request_path, class: 'btn btn-lg btn-block', id: 'boton'  %>

		<%= link_to 'Desconectarse', destroy_user_session_path, :method => :delete, class: 'btn btn-lg btn-block', id: 'boton'  %>

		<p>Miembros activos: <%= User.count %></p>
		</div>
	</div>
<%else%>
	<div id="panelAside" class="panel panel-default">
		<div class="panel-heading">
			Ingreso Intranet
		</div>
		<div class="panel-body">
		    <%= render "devise/sessions/inicio_sesion" %>
		</div>
	</div>
<%end%>
