<nav class="navbar navbar-default BarraNavegadora navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<%= link_to(image_tag("logoblanco.png", id: "logoNav"),root_path) %>
			<button type="button" class="navbar-toggle btn-nav" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<i class="glyphicon glyphicon-circle-arrow-down"></i>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" >

				<% if !user_signed_in? %>
				<li role="presentation" class="<%= 'active' if current_page?(presentation_aprendizaje_path) %>">
					<%= link_to '¿Qué es AS? <i class="glyphicon glyphicon-pencil"></i>'.html_safe, presentation_aprendizaje_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(presentation_hacemos_path) %>">
					<%= link_to '¿Qué hacemos? <i class="glyphicon glyphicon-paperclip"></i>'.html_safe, presentation_hacemos_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(presentation_somos_path) %>">
					<%= link_to '¿Quiénes somos? <i class="glyphicon glyphicon-pushpin"></i>'.html_safe, presentation_somos_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(presentation_estatuto_path) %>">
					<%= link_to 'Estatuto <i class="glyphicon glyphicon-book"></i>'.html_safe, presentation_estatuto_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(contacts_path) %>">
					<%= link_to 'Contacto <i class="glyphicon glyphicon-envelope"></i>'.html_safe, contacts_path %>
				</li>
				<li role="presentation" class="navCenter">
					<%= form_tag(presentation_searchPage_path, :method => "post",:class=>"form-inline") do %>	
					<div class="input-group">
						<%= text_field_tag :search, params[:search], placeholder: "Buscar",:class => 'form-control btnSearch',:required => true %>
						<span class="input-group-btn">
							<%= button_tag(type: "submit", class: "btn btn-default btnSearch") do %>
								<i class="glyphicon glyphicon-search"></i>
							<% end %>
						</span>
					</div>
					<%end%>
				</li>
			</ul>
				<%else%>

				<li role="presentation" class="<%= 'active' if current_page?(presentation_estatuto_path) %>">
					<%= link_to 'Estatuto <i class="glyphicon glyphicon-book"></i>'.html_safe, presentation_estatuto_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(requests_path) %>">
					<%= link_to 'Solicitudes <i class="glyphicon glyphicon-log-in"></i>'.html_safe, requests_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(offerings_path) %>">
					<%= link_to 'Ofertas <i class="glyphicon glyphicon-log-out"></i>'.html_safe, offerings_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(services_index_activos_path) %>">
					<%= link_to 'Servicios <i class="glyphicon glyphicon-check"></i>'.html_safe, services_index_activos_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(experiences_path) %>">
					<%= link_to 'Experiencias <i class="glyphicon glyphicon-education"></i>'.html_safe, experiences_path %>
				</li>

				<li role="presentation" class="<%= 'active' if current_page?(events_path) %>">
					<%= link_to 'Eventos <i class="glyphicon glyphicon-calendar"></i>'.html_safe, events_path %>
				</li>

				<li role="presentation" class="navCenter">
					<%= form_tag(presentation_searchPage_path, :method => "post",:class=>"form-inline") do %>
					<div class="input-group">
						<%= text_field_tag :search, params[:search], placeholder: "Buscar",:class => 'form-control btnSearch',:required => true %>
						<span class="input-group-btn">
							<%= button_tag(type: "submit", class: "btn btn-default btnSearch") do %>
								<i class="glyphicon glyphicon-search"></i>
							<% end %>
						</span>
					</div>
					<%end%>
				</li>


			</ul>

			<ul class="nav navbar-nav navbar-right">
				<%if current_user.category == 1%>
					<li>
						<%= link_to '<i class="glyphicon glyphicon-cog"></i>'.html_safe, sections_path,:class=>"rightNav"%>
					</li>
				<%end%>	
				<li>
					<%= link_to '<i class="glyphicon glyphicon-off"></i>'.html_safe, destroy_user_session_path, :method => :delete, :class=>"rightNav"%>
				</li>				
			</ul>
			

			<%end%>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>