<h1>Administrar tipo de usuario de <%=@user.nickname%></h1>
<%if @user.category == 1%>
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			¡USUARIO ADMINISTRADOR!
		</div>
		<div class="panel-body">
			<p>No se puede cambiar el tipo de adhesión ni rol de usuario de los administradores</p>
	<%= link_to "Volver", sections_path, :class=>'btn btn-lg btnCRUD' %>
		</div>
	</div>

<%else%>
<%= form_for @user do |f| %>

	<div class="panel panel-default panelRease" >
    	<div class="panel-heading">Cambiar tipo de usuario de <%=@user.nickname%></div>
    	<div class="panel-body">

			<div class="field">
				<p><%= f.label :category, "Rol de usuario" %>
				<button type="button" class="btn btn-default btnWhite" id:"btnTipoUsuario"  data-trigger="focus" data-container="body" data-toggle="btnRolUsuario"> ? </button></p>

				<%= f.select(:category, [['Administrador', 1],['Profesor', 2],['Vinculador Social', 3],['Socio comunitario', 4]], {:include_blank => '-- Seleccione una Opción --' }, { :class => 'form-control', :required => true }) %>
			</div>

			<div class="field">
				<p><%= f.label :autorization_level, "Adhesión a la red"%>

				<button type="button" class="btn btn-default btnWhite" id:"btnTipoUsuario"  data-trigger="focus" data-container="body" data-toggle="btnTipoUsuario"> ? </button>

				</p>

				<%= f.select(:autorization_level,[['Activo', 1], ['Adherente', 2]], {:include_blank => '-- Seleccione una Opción --' }, { :class => 'form-control', :required => true }) %>
			</div>
		</div>
	</div>

	<%= f.submit "Aceptar Cambios", :class => 'btn btn-lg btnCRUD', data: { confirm: '¿Está seguro que desea realizar estos cambios? Estos cambios afectarán directamente en los niveles de autorización del usuario.' } %>
	<%= link_to 'Cancelar cambios', @user, :class =>"btn btn-lg btnCRUD" %>
	<%= link_to "Eliminar Usuario", @user, method: :delete, data: { confirm: "¿Está seguro que desea eliminar este usuario?" },:class=>'btn btn-lg btnCRUD' %>

<% end %>
<% end %>

<script type="text/javascript">
$(function () {
  $('[data-toggle="btnTipoUsuario"]').popover(
  {
  	title: 'Adhesión a la red',
  	html: 'true', 
    content: '<p><strong>Activo:</strong> El usuario recibirá bimensualmente las actas de reuniones, invitaciones a todos los eventos y actividades de la Red y tendrá que participar en las reuniones de ampliadas y comisiones de trabajo de REASE.</p><p><strong>Adherente:</strong> El usuario recibirá semestralmente los avances de la Red e invitaciones a eventos masivos, así como invitaciones a eventos masivos de REASE.</p>'
  }
  	)
})
$(function () {
  $('[data-toggle="btnRolUsuario"]').popover(
  {
  	title: 'Rol de usuario',
  	html: 'true', 
    content: '<p><strong>Administrador: </strong>El usuario administrador puede editar el contenido del sitio del visitante, agregar eventos y editar los privilegios de otros usuarios.</p><p><strong>Profesor:</strong> El usuario podrá publicar ofertas de actividades AS, crear servicios activos y documentar una experiencia dentro del sitio.</p><p><strong>Socio comunitario:</strong> El usuario podrá solamente publicar solicitudes de actividades AS y aceptar trabajar con un profesor.</p><p><strong>Vinculador social: </strong> Puede publicar ofertas y solicitudes, pero no puede generar servicios ni documentar experiencias.</p>'

  }
  	)
})

</script>
