<h1>Cambiar tu contraseña</h1>
<p>Si usted está acá, es porque solicitó un cambio de contraseña</p>
<div class="panel panel-default panelRease">

<div class="panel-heading">
  Ingrese los datos
</div>
<div class="panel-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "off",:class => 'form-control', :placeholder => 'Nueva contraseña' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'form-control', :placeholder => 'Confirme la contraseña' %>
  </div>

  <%= f.submit "Cambiar contraseña", :class => 'btn btn-lg' %>
<% end %>

<p><%= render "devise/shared/links" %></p>
</div>
</div>

