<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <!--h1 class="text-center login-title">Ingrese sus datos para conectarse a REASE</h1-->
      <h1> Ingrese sus datos para conectarse a REASE </h1>
      <div class="account-wall">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
          <%= image_tag("Conect.png", class: "inicioSesion") %>
            <%= f.email_field :email, :class => 'form-control', :placeholder => 'Correo electrónico' %>
            <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Contraseña'%>
            <%= f.submit "Entrar", :id => 'boton', :class => 'btn btn-lg btn-block' %>
            <label class="checkbox pull-left">
              <%= f.check_box :remember_me %>
            <p>  Recordarme </p>
            </label>
            <!-- <a href="#" class="pull-right need-help">Need help? </a> -->
            <span class="clearfix"></span>
          <% end %>
      </div>
      <!-- <a href="#" class="text-center new-account">Create an account </a> -->
    </div>
  </div>
</div>

