<%orden ||= "sección"%>
<%accion ||= "Crear" %>
<% @section.errors.full_messages.each do |mensaje|%>
		<%flash[:alert] = mensaje %>
<%end%>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		<%=accion%> <%=orden%>
	</div>
	<div class="panel-body">
		<center>
			<%= form_for(@section) do |f| %>
				<p class="note">*Todos los campos son obligatorios.</p>
				<div class="field"><p>
					<%= f.label :title, "Título: "%>
					<%= f.text_field :title, :class => 'form-control', :placeholder => 'Titulo',:required=>true %>
				</p></div>
				<p class="note">La sección corresponden al módulo de las páginas de inicio el cual usted desea agregar un nuevo artículo.</p>
				<div class="field"><p>
					<%= f.label :module, "Sección: "%>
					<%= f.select(:module, [['Novedad','Novedad'],['Aprendizaje Servicio', 'Aprendizaje Servicio'],['Hacemos', 'Hacemos'],['Somos', 'Somos'],['Estatuto', 'Estatuto']],  {:include_blank => '— Seleccione una sección —',:selected => orden }, { :class => 'form-control', :required => true }) %>
				</p></div>
				
				<div class="field"><p>
					<%= f.label :prority, "Prioridad: "%>
					<%= f.select(:priority, [['Alta', 1],['Media', 2],['Baja', 3]], {:include_blank => '— Prioridad —' }, { :class => 'form-control', :required => true }) %>
				</p></div>
				
				<div class="field"><p>
					<%= f.label :body, "Cuerpo: "%>
					<%= f.text_area :body, :placeholder=> "Escriba acá el contenido de la sección", :id=>"eg-basic"%>
				</p></div>
				

				<div class="field"> 
					<%= f.submit accion, :class => 'btn btn-lg btnCRUD' %>
					<%= link_to "Cancelar", sections_path, :class => 'btn btn-lg btnCRUD' %>
				</div>
			<%end%>
		</center>
	</div>
</div>

<script>
	 $(function() {$('textarea#eg-basic').editable({
      theme: 'rease',
		inlineMode: false,
      language: 'es'
    })
  });
</script>