<%accion ||= "Trabajar"%> <!--valor default para la variable Accion-->
<h1><%= accion %> sección</h1>
<center>
	<div style="width: 80%">
		<%= form_for(@section) do |f| %>
				<% @section.errors.full_messages.each do |mensaje|%>
				<div>
					<p><%= mensaje%></p>
				</div>
			<%end%>
			<div class="field">
				<%= f.text_field :title, :class => 'form-control', :placeholder => 'Titulo' %>
			</div>
			<br>
			<div class="field">
				<%= f.select(:order, [['AprendizajeServicio', 'AprendizajeServicio'],['Hacemos', 'Hacemos'],['Somos', 'Somos'],['Estatutos', 'Estatutos']], {:include_blank => '— Seleccione una sección —' }, { :class => 'form-control', :required => true }) %>
			</div>
			<br>
			<div class="field"> 
				<%= f.text_area :body, :placeholder=> "Escriba acá.", :id=>"eg-basic" %>
			</div>
			<br>

			<div class="field"> 
				<%= f.submit "Crear", :id => 'boton', :class => 'btn btn-lg btn-block' %>
			</div>
		<%end%>
	</div> 
</center>
<script>
	 $(function() {$('textarea#eg-basic').editable({
      inlineMode: false,
    })
  });
</script>