<%orden ||= "sección"%>
<%accion ||= "Crear" %>
<% @section.errors.full_messages.each do |mensaje|%>
		<%flash[:alert] = mensaje %>
<%end%>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		<%=accion%> <%=orden%>
	</div>
	<div class="panel-body">
		<center>
			<div style="width: 90%">
				<%= form_for(@section) do |f| %>
					<p class="note">*Todos los campos son obligatorios.</p>
					<div class="field">
						<%= f.text_field :title, :class => 'form-control', :placeholder => 'Titulo',:required=>true %>
					</div>
					
					<div class="field">
						<%= f.select(:module, [['Novedad','Novedad'],['Aprendizaje Servicio', 'Aprendizaje Servicio'],['Hacemos', 'Hacemos'],['Somos', 'Somos'],['Estatutos', 'Estatutos']],  {:include_blank => '— Seleccione una sección —' }, { :class => 'form-control', :required => true }) %>
					</div>
					
					<div class="field">
						<%= f.select(:priority, [['Alta', 1],['Media', 2],['Baja', 3]], {:include_blank => '— Prioridad —' }, { :class => 'form-control', :required => true }) %>
					</div>
					
					<div class="field"> 
						<%= f.text_area :body, :placeholder=> "Escriba acá.", :id=>"eg-basic",:required=>true %>
					</div>
					

					<div class="field"> 
						<%= f.submit accion, :class => 'btn btn-lg btnCRUD' %>
						<%= link_to "Cancelar", sections_path, :class => 'btn btn-lg btnCRUD' %>
					</div>
				<%end%>
			</div> 
		</center>
	</div>
</div>

<script>
	 $(function() {$('textarea#eg-basic').editable({
      inlineMode: false,
    })
  });
</script>