<div  class="panel panel-default panelRease">
	<div class="panel-heading">
		<%=	@section.title %>
	</div>
	<div class="panel-body">
		<h2>Tipo: <%= @section.module %></h2>
		<p>	<%=raw @section.body %></p>
	</div>
	<p>Fecha de Creacion:  <%=l @section.created_at%></p>			
</div>
<%if user_signed_in? %>
<%= link_to "Editar", edit_section_path( @section), :class => "btn btn-lg btnCRUD"%>
<%= link_to 'Eliminar',  @section, method: :delete, data: { confirm: '¿Está seguro de eliminar esta sección?' }, :class => "btn btn-lg btnCRUD" %>
<%= link_to "Volver", sections_path, :class => "btn btn-lg btnCRUD"%>
<%end%>
