<%orden ||= "Crear"%>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
      <% @event.errors.full_messages.each do |message| %>
        <%flash[:alert] = message %>
      <% end %>
  <% end %>

<div class="panel panel-default panelRease" >
    <div class="panel-heading">Datos del evento</div>
    <div class="panel-body">
    <p class="note">*Todos los campos son obligatorios.</p>

		<div class="field"><p>
			<%= f.label :title, "Título: "%>
			<%= f.text_field :title, :placeholder => "Nombre del evento" , :class => 'form-control',autofocus: true, :required => true %>
		</div>	
		<div class="field"><p>
			<%= f.label :address, "Dirección o ubicación: "%>
			<%= f.text_area :address, :placeholder => "Lugar y/o dirección donde se realizará el evento", :class => 'form-control',autofocus: true, :required => true  %>
		</div>

		<div class="field"><p>
			<% if orden == "Actualizar" %>
				<%= f.label :status, "Estado: "%>
				<%= f.select(:status, [['Disponible', 1],['Realizado',2], ['Cancelado',3], ['Caducado', 4]], {:include_blank => '-- Seleccione un estado --' }, { :class => 'form-control', :required => true }) %></p>
			<% else %>
				<strong>Estado: </strong> Vigente </p>
			<% end %>
		</div>

		<div class="field"><p>
			<%= f.label :description, "Descripción: "%>
			<%= f.text_area :description, :placeholder=> "Escribir aquí.", :id=>"eg-basic" %>
		</div>

		<div class="field">
			<p><%= f.label :start_time, "Fecha y hora de inicio" %></p>
			<%= f.datetime_select :start_time %>
		</div>

		<div class="field">
			<p><%= f.label :end_time, "Fecha y hora de término" %></p>
			<%= f.datetime_select :end_time %>
		</div>
		
	</div>
</div>
	<%= f.submit orden, :class => 'btn btn-lg btnCRUD' %>
	<%= link_to 'Volver', events_path, :class => "btn btn-lg btnCRUD"%>
<% end %>



<script>
	 $(function() {$('textarea#eg-basic').editable({
      theme: 'rease',
		inlineMode: false,
      language: 'es'
    })
  });
</script>