<div class="panel panel-default" id="panelRease">
	<div class="panel-heading">
		<%= @event.title %>
	</div>
	
	<div class="panel-body">

		<h1>Descripción:</h1>
		 <p><%=raw @event.description %></p>

		<h1> Información </h1>
		<p><b>Dirección: </b><%= @event.address %></p>
		
		<p><b>Fecha y hora de inicio: </b><%= @event.start_time.day %>/<%= @event.start_time.month %>/<%= @event.start_time.year %> <%= @event.start_time.hour%>:<%= @event.start_time.min%></p>

		<p><b>Fecha y hora de término: </b><%= @event.end_time.day %>/<%= @event.end_time.month %>/<%= @event.end_time.year %> <%= @event.end_time.hour%>:<%= @event.end_time.min%></p>

	</div>
	<div class="panel-footer">
		<p><b>Creado por:</b>
	  	<%= @event.user.name %> <%= @event.user.last_name %></p>
	</div>
</div>

<% if user_signed_in? %>
	<% if @event.user.id == current_user.id %>
		<%= link_to 'Editar ', edit_event_path(@event), :id => "botonCRUD", :class => "btn btn-lg" %>
		<%= link_to 'Eliminar', @event, method: :delete, data: { confirm: '¿Está seguro de eliminar el evento?' }, :id => "botonCRUD", :class => "btn btn-lg" %>
	<% end %>
<% end %>
	
	<%= link_to 'Volver', events_path, :id => "botonCRUD", :class => "btn btn-lg" %>
	
