<h1>Detalles de <%= @event.title %></h1>	
<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		<%= @event.title %>
	</div>
	
	<div class="panel-body">

		<h2>Descripción</h2>
		 <p><%=raw @event.description %></p>

		<h2> Información </h2>
		<p><strong>Dirección: </strong><%= @event.address %></p>
		<p><strong>Estado: </strong>
		<% if @event.status == 1%>
			Disponible
		<%end%>
		<% if @event.status == 2%>
			En proceso
		<%end%>
		<% if @event.status == 3%>
			Realizado
		<%end%>
		<% if @event.status == 4%>
			Cancelado
		<%end%>
		<% if @event.status == 5%>
			Caducado
		<%end%>
		</p>
		
		<p><strong>Fecha y hora de inicio: </strong><%=l @event.start_time %></p>

		<p><strong>Fecha y hora de término: </strong><%=l @event.end_time %></p>
		<p><strong>Creado por:</strong>
		<%= link_to @event.user.nickname, user_path(@event.user.id) %>
	  	<%if !@event.user.photo.blank?%>
	  		<%= image_tag @event.user.photo.url(:mini), :class =>"RoundPicture" %>
	  	<%end %></p>
	</div>
	<div class="panel-footer">
		<h2>Comentarios</h2>
		<div class="comment">
			<%if user_signed_in? %>
				<%=render 'comments/form'%>
			<%end%>
			<% @event.comments.order('created_at DESC').each do |comment|%>
			<p>	
				<%if !@event.user.photo.blank?%>
					<%= image_tag comment.user.photo.url(:mini), :class =>"RoundPicture" %>   	
				<%end %>
				<%= link_to comment.user.nickname, comment.user%>: 	<%=comment.body%>
				<%if user_signed_in? %>
					<%if current_user == comment.user or current_user.category == 1 %> - 
						<%= link_to 'Eliminar', event_comment_path(@event,comment), method: :delete, data: { confirm: '¿Está seguro de eliminar el comentario?' }%>
					<%end%>
				<%end%>
			</p>
			<%end%>
		</div>
	</div>
</div> 
<% if user_signed_in? && current_user.category == 1  %>
	<% if @event.user.id == current_user.id %>
		<%= link_to 'Editar evento', edit_event_path(@event), :class => "btn btn-lg btnCRUD" %>
		<%= link_to 'Eliminar evento', @event, method: :delete, data: { confirm: '¿Está seguro de eliminar el evento?' }, :class => "btn btn-lg btnCRUD" %>
	<% end %>
<% end %>
	
	<%= link_to 'Volver', events_path, :class => "btn btn-lg btnCRUD" %>
