<%accion ||= "Crear"%>
<%= form_for @request, :html => { :class => "form-horizontal request" } do |f| %>

	<% if @request.errors.any? %>
	<div id="error_expl" class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title"><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h3>
		</div>
		<div class="panel-body">
			<ul>
				<% @request.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<% end %>

	<div class="panel panel-default panelRease" >
    	<div class="panel-heading">Datos de la solicitud</div>
    	<div class="panel-body">
    		
    		<div class="control-group">
				<div class="field">
				<%= f.text_field :title, :class => 'form-control', :placeholder => 'Titulo' %>
				</div>
				<%= error_span(@request[:title]) %>
			</div>
			<br>
			<div class="control-group">
				<div class="field">
				<%= f.text_area :description, :placeholder=> "Escribir aquí.", :id=>"eg-basic" %>
				</div>
				<%= error_span(@request[:description]) %>
			</div>
			<br>
		</div>
	</div>

	<%= f.submit accion, :class => 'btn btn-lg btnCRUD' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")), requests_path, :class => 'btn btn-lg btnCRUD' %>

<% end %>

<script>
	 $(function() {$('textarea#eg-basic').editable({
      inlineMode: false,
    })
  });
</script>