<h1>Solicitudes de servicio</h1>

<% if current_user.category != 2 %>
	<%= link_to "Nueva solicitud de servicio", new_request_path, :class => 'btn btn-lg' %>
<%end%>
<div class="buscador">
	<%= form_tag(requests_searchRequest_path, :method => "post",:class=>"form-inline") do %>
	<div class="input-group">
		<%= text_field_tag :search, params[:search], placeholder: "Buscar solicitudes",:class => 'form-control',:required=>true %>
		<span class="input-group-btn">
			<%= submit_tag "Ir", :class => 'btn btn-default' %>
		</span>
	</div>
	<%end%>
</div>
</div>
	<ul class="nav nav-tabs tabRease nav-justified">
	<li id="req1" onclick="req1()"><a>Disponibles</a></li>
	<li id="req2" onclick="req2()"><a>Canceladas</a></li>
	<li id="req3" onclick="req3()"><a>Caducadas</a></li>
</ul>

<div id="Disponible">
	<%if @disponible.present?%>
	<% @disponible.each do |request| %>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				<%= request.title %>
			</div>
			<div class="panel-body">
				<h2>Resumen: </h2>
				<p><%=raw request.resume %></p>
				<%= link_to "Ver solicitud", request %>
			</div>
		</div>
	<%end%>
	<%else%>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				Ofertas de servicios disponibles
			</div>
			<div class="panel-body">
				<p>No hay solicitudes de servicio disponibles
			</div>
		</div>
	<%end%>

</div>
<div id="Cancelada">
	<%if @cancelada.present?%>
	<% @cancelada.each do |request| %>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				<%= request.title %>
			</div>
			<div class="panel-body">
				<h2>Resumen: </h2>
				<p><%=raw request.resume %></p>
				<%= link_to "Ver solicitud", request %>
			</div>
		</div>
	<%end%>
	<%else%>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				Ofertas de servicios canceladas
			</div>
			<div class="panel-body">
				<p>No hay solicitudes de servicio canceladas
			</div>
		</div>
	<%end%>

</div>
<div id="Caducada">
	<%if @caducada.present?%>
	<% @caducada.each do |request| %>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				<%= request.title %>
			</div>
			<div class="panel-body">
				<h2>Resumen: </h2>
				<p><%=raw request.resume %></p>
				<%= link_to "Ver solicitud", request %>
			</div>
		</div>
	<%end%>
	<%else%>
		<div class="panel panel-default panelRease">
			<div class="panel-heading">
				Ofertas de servicios caducadas
			</div>
			<div class="panel-body">
				<p>No hay solicitudes de servicio caducadas
			</div>
		</div>
	<%end%>


</div>

<script type="text/javascript">
	document.getElementById('Disponible').style.display='block';	
	document.getElementById("req1").className = "active";	
	document.getElementById('Cancelada').style.display='none';
	document.getElementById('Caducada').style.display='none';
	function req1(){
		document.getElementById('Disponible').style.display='block';	
		document.getElementById('Cancelada').style.display='none';
		document.getElementById('Caducada').style.display='none';
		document.getElementById("req1").className = "active";
		document.getElementById("req2").className = "";
		document.getElementById("req3").className = "";
	}
	function req2(){
		document.getElementById('Disponible').style.display='none';	
		document.getElementById('Cancelada').style.display='block';
		document.getElementById('Caducada').style.display='none';
		document.getElementById("req1").className = "";
		document.getElementById("req2").className = "active";
		document.getElementById("req3").className = "";
		
	}
	function req3(){
		document.getElementById('Disponible').style.display='none';		
		document.getElementById('Cancelada').style.display='none';
		document.getElementById('Caducada').style.display='block';
		document.getElementById("req1").className = "";
		document.getElementById("req2").className = "";
		document.getElementById("req3").className = "active";
	}
</script>