<div class="panel panel-default panelRease" >
  <div class="panel-heading">
    <%= @request.title %>
  </div>
  
  <div class="panel-body">

    <h1>Descripción:</h1>
      <p><%=raw @request.description %></p>

    <h1> Información </h1>
    <p><b>Estado: </b> 

  </div>
  <div class="panel-footer">
    <p><b>Creado por:</b>
      <%= @request.user.name %> <%= @request.user.last_name %></p>
  </div>
</div>

<% if user_signed_in? %>
  <% if @request.user.id == current_user.id %>
    <%= link_to 'Editar ', edit_request_path(@request), :id => "botonCRUD", :class => "btn btn-lg" %>
  <%= link_to t('Eliminar'),
              request_path(@request),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro de eliminar la solicitud?')) },
              :id => "botonCRUD", :class => "btn btn-lg"%>
  <% end %>
<% end %>
  
  <%= link_to 'Volver', requests_path, :id => "botonCRUD", :class => "btn btn-lg" %>
  