<h1>Búsqueda de Experiencias</h1>

<div class="buscador">
	<%= form_tag(experiences_searchExperience_path, :method => "post",:class=>"form-inline") do %>
	<div class="input-group">
		<%= text_field_tag :search, params[:search], placeholder: "Buscar experiencias",:class => 'form-control',:required=>true %>
		<span class="input-group-btn">
			<%= button_tag(type: "submit", class: "btn btn-default ") do %>
				<i class="glyphicon glyphicon-search"></i>
			<% end %>
		</span>
	</div>
	<%end%>
</div>



<% if @experiences.present? || @projects.present? %>
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Resultados de la búsqueda: <%= params[:search] %>
		</div>
		<div class="panel-body">
			<table class="tabla-rease">
				<tr>
					<th><strong>Tipo</strong></th>
					<th><strong>Nombre</strong></th>
					<th><strong>Detalles</strong></th>

				</tr>
					<%= render @experiences %>
					<%= render @projects %>
			</table>
		</div>
	</div>
<%else%>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Experiencias y : <%= params[:search] %>
	</div>
	<div class="panel-body">
		<p>No se encontraron resultados en la búsqueda de <strong><%= params[:search] %></strong></p>
	</div>
</div>
<% end %>

<%=link_to "Volver", experiences_path, :class=>'btn btn-lg btnCRUD'%>
