<%orden ||= "Crear"%>
<%= form_for(@minute) do |f| %>
	<% if @minute.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@minute.errors.count, "error") %> prohibited this minute from being saved:</h2>

			<ul>
			<% @minute.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		Datos del Acta
	</div>
	<div class="panel-body">
		<div class="field">
			<%= f.text_field :name, :class => 'form-control', :placeholder => 'Título de la reunión' %>
		</div>
		<div class="field">
			<p><%= f.label :date, "Fecha de la reunión: " %>
			<%= f.date_select :date %></p>
		</div>
		<div class="field">
			<%= f.file_field :archive %>
		</div>
	</div>	
</div>
	<%= f.submit "Subir acta", :class=>"btn btn-lg btnCRUD" %>
	<%= link_to 'Volver', minutes_path, :class =>"btn btn-lg btnCRUD" %>
<% end %>
