<h1>Detalles del acta <%=@minute.name%></h1>
<p id="notice"><%= notice %></p>

<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		Acta: <%= @minute.name %>
	</div>
	<div class="panel-body">
		<p> <strong>Fecha de la reunión:</strong> <%= @minute.date%></p>		
	</div>
</div>
<%= link_to 'Ver Acta', @minute.archive.url, :class =>"btn btn-lg btnCRUD" %>
<%= link_to 'Editar', edit_minute_path(@minute), :class =>"btn btn-lg btnCRUD" %>
<%= link_to 'Volver', minutes_path, :class =>"btn btn-lg btnCRUD" %>