<div>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
		
		<%= f.email_field :email, :class => 'form-control', :placeholder => 'Correo electrónico' %>
		
		<%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Contraseña'%>
		
		<%= f.submit "Ingresar", :class => 'btn btn-block' %>
		
		<p id="styleSession"> <%= f.check_box :remember_me %> Recordarme </p>
		<%= render "devise/shared/links" %>

	<% end %>
</div>