<%orden ||= "Crear"%>
<%= form_for(@resource) do |f| %>
	<% if @resource.errors.any? %>
			<% @resource.errors.full_messages.each do |message| %>
				<%flash[:alert] = message %>
			<% end %>
	<% end %>

<div class="panel panel-default panelRease" >
	<div class="panel-heading">
		Datos del Acta
	</div>
	<div class="panel-body">
		<p class="note">*Todos los campos obligatorios</p>
		<div class="field">
			<%= f.text_field :name, :class => 'form-control', :placeholder => 'Título de la reunión',:required=>true %>
		</div>
		<div class="field">
			<p><%= f.label :date, "Fecha de la reunión: " %>
			<%= f.date_select :date %></p>
		</div>
		<div class="field">
			<%= f.file_field :archive %>
		</div>
	</div>	
</div>
	<%= f.submit "Subir acta", :class=>"btn btn-lg btnCRUD" %>
	<%= link_to 'Volver', resources_path, :class =>"btn btn-lg btnCRUD" %>
<% end %>
