<h1>Administrar actas </h1>
<%= link_to 'Agregar nueva acta', new_resource_path, :class=>"btn btn-lg btnAdmin" %><br>

<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Listado de actas
	</div>
	<div class="panel-body">
		<% @resources.each do |resource| %>
			<p><%=resource.name%>: <%=l resource.date%> - 
			<%= link_to 'Ver acta', resource.archive.url %> -
			<%= link_to 'Detalle', resource %> -
			<%= link_to 'Borrar acta', resource, method: :delete, data: { confirm: '¿Seguro que desea eliminar esta acta?' } %>
			</p>
		<%end%>
	</div>
</div>