<h1>Recursos</h1>

<div class="buscador">
	<%= form_tag(resources_searchResource_path, :method => "post",:class=>"form-inline") do %>
	<div class="input-group">
		<%= text_field_tag :search, params[:search], placeholder: "Buscar recursos",:class => 'form-control',:required=>true %>
		<span class="input-group-btn">
			<%= submit_tag "Ir", :class => 'btn btn-default' %>
		</span>
	</div>
	<%end%>
</div>

<ul class="nav nav-tabs tabRease nav-justified">
	<li id="res1" onclick="res1()"><a>Actas</a></li>
	<li id="res2" onclick="res2()"><a>Contratos</a></li>
	<li id="res3" onclick="res3()"><a>Formularios</a></li>
	<li id="res4" onclick="res4()"><a>Otros</a></li>
</ul>

<div id="Actas">
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Actas disponibles
		</div>
		<div class="panel-body">
			<%if @actas.present?%>
				<table class="recursos">
					<tr>
						<th><strong>Nombre</strong></th>
						<th><strong>Fecha</strong></th>
						<th><strong>Descripción</strong></th>
						<th><strong>Ver</strong></th>

					</tr>
					<% @actas.each do |resource| %>
					<tr>
						<td><%= resource.name%></td>
						<td><%=l resource.date%></td>
						<td><%= resource.description%></td>
						<td><%= link_to '<i class="glyphicon glyphicon-circle-arrow-down"></i>'.html_safe, resource.archive.url%></td>
					</tr>
					<%end%>
				</table>
			<%else%>
				No hay actas disponibles
			<%end%>
		</div>
	</div>
</div>
<div id="Contratos">
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Contratos disponibles
		</div>
		<div class="panel-body">
			<%if @contratos.present?%>
				<% @contratos.each do |resource| %>
				<%end%>
			<%else%>
				No hay contratos disponibles
			<%end%>
		</div>
	</div>
</div>
<div id="Formularios">
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Formularios disponibles
		</div>
		<div class="panel-body">
			<%if @formularios.present?%>
				<% @formularios.each do |resource| %>
				<%end%>
			<%else%>
				No hay formularios disponibles
			<%end%>
		</div>
	</div>
</div>
<div id="Otros">
	<div class="panel panel-default panelRease">
		<div class="panel-heading">
			Otro recursos disponibles
		</div>
		<div class="panel-body">
			<%if @otros.present?%>
				<% @otros.each do |resource| %>
				<%end%>
			<%else%>
				No hay otros recursos disponibles
			<%end%>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.getElementById('Actas').style.display='block';	
	document.getElementById("res1").className = "active";	
	document.getElementById('Contratos').style.display='none';
	document.getElementById('Formularios').style.display='none';
	document.getElementById('Otros').style.display='none';
	function res1(){
		document.getElementById('Actas').style.display='block';	
		document.getElementById('Contratos').style.display='none';
		document.getElementById('Formularios').style.display='none';
		document.getElementById('Otros').style.display='none';
		document.getElementById("res1").className = "active";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "";
		document.getElementById("res4").className = "";
	}
	function res2(){
		document.getElementById('Actas').style.display='none';	
		document.getElementById('Contratos').style.display='block';
		document.getElementById('Formularios').style.display='none';
		document.getElementById('Otros').style.display='none';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "active";
		document.getElementById("res3").className = "";
		document.getElementById("res4").className = "";		
	}
	function res3(){
		document.getElementById('Actas').style.display='none';		
		document.getElementById('Contratos').style.display='none';
		document.getElementById('Formularios').style.display='block';
		document.getElementById('Otros').style.display='none';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "active";
		document.getElementById("res4").className = "";
	}
	function res4(){
		document.getElementById('Actas').style.display='none';		
		document.getElementById('Contratos').style.display='none';
		document.getElementById('Formularios').style.display='none';
		document.getElementById('Otros').style.display='block';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "";
		document.getElementById("res4").className = "active";
	}
</script>