<h1>Búsqueda de recursos</h1>
<div class="buscador">
	<%= form_tag(resources_searchResource_path, :method => "post",:class=>"form-inline") do %>
	<div class="input-group">
		<%= text_field_tag :search, params[:search], placeholder: "Buscar recursos",:class => 'form-control',:required=>true %>
		<span class="input-group-btn">
			<%= button_tag(type: "submit", class: "btn btn-default ") do %>
				<i class="glyphicon glyphicon-search"></i>
			<% end %>
		</span>
	</div>
	<%end%>
</div>

<% if @resources.present? %>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Recurso: <%= params[:search] %>
	</div>
	<div class="panel-body">
		<%= render @resources %>
	</div>
</div>
<%else%>
<div class="panel panel-default panelRease">
	<div class="panel-heading">
		Recurso <%= params[:search] %>
	</div>
	<div class="panel-body">
		<p>No se encontraron resultados en la búsqueda de <strong><%= params[:search] %></strong></p>
	</div>
</div>
<% end %>

<%=link_to "Volver", resources_muestra_path, :class=>'btn btn-lg btnCRUD'%>