<h1>Administrar enlaces de interés </h1>
<%= link_to 'Agregar nuevo enlace de interés', new_interest_link_path, :class=>"btn btn-lg btnAdmin" %><br>

<div class="panel panel-default panelRease">
  <div class="panel-heading">
    Links de interés
  </div>
  <div class="panel-body">
    <% @interest_links.each do |interest_link| %>
      <p><%=interest_link.name%> - 
      <%= link_to 'Ir', interest_link.url,:target => "_blank" %> -
      <%= link_to 'Detalle', interest_link %> -
      <%= link_to 'Eliminar enlace', interest_link, method: :delete, data: { confirm: '¿Seguro que desea eliminar este enlace?' } %>
      </p>
    <%end%>
  </div>
</div>