<%= form_for([@offering,@comment_offering]) do |f| %>
	<% if @comment_offering.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@comment_offering.errors.count, "error") %> prohibited this comment_offering from being saved:</h2>

			<ul>
			<% @comment_offering.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.text_area :body, :class => 'form-control',:placeholder=>'Escriba acá su comentario respecto a esta oferta de servicio...',:required=>true %>
	</div>
	<div class="actions">
		<%= f.submit "Enviar comentario", :class => 'btn btn-default' %>
	</div>
<% end %>
